@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  background-color: #f2f2f2;
}
.cotainer {
  width: 50%;
  max-width: 400px;
  min-width: 300px;
  margin: 100px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h2{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}
.input-group{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.input-group i{
    color: #888;
    font-size: 18px;
    /* margin-right: 10px; */
} 
.input-group input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
}
button[type="submit"]{
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border: 0;
    background-color: #fddb50;
    
    
}
button[type="submit"]:hover{
    background-color: #fdcd0f;
}
input[type="button"]{
    width: 100px;
    display: block;
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #a0fe8f;
    color: #444;
    border: none;
    margin-left: auto;
}
input[type="button"]:hover{
    background-color: #88ff73;
}